<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous">
    <style>
       .body
        {
        margin-left:40%;
        margin-top: 20%;
        }
    </style>
</head>
    <body>
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}" role="document">
        <p>{{message}}</p>
    </div>
    {% endfor %}
    <div class="body">


        <a href="register"><input type="button" value="register"></a>
        <a href="{% url 'signin' %}"><input type="button" value="signin"></a>
        </div>
    </body>
</html>